<template>
  <q-toolbar-title slot="title" @click="$router.push('/')" style="cursor:pointer;padding-top:10px;padding-bottom:10px" class="text-primary items-center row">
    <img src="/statics/logo-passeport-efficacite-energetique_2.png" class="responsive float-left" style="max-height:30px;margin:5px;cursor:pointer;">
    <h1 style="font-size:unset;margin:unset;">L'application de gestion du P2E</h1>
  </q-toolbar-title>
</template>

<script>
export default {
  data () {
    return {}
  }
}
</script>

<style>
</style>
