<template>
  <div class="row">
    <q-input class="col-4" type="text" float-label="Coût min" v-model="copy.min" @change="onChange" suffix="€" />
    <q-input class="offset-1 col-4" type="text" float-label="Coût max" v-model="copy.max" @change="onChange" suffix="€" />
    <q-select class="offset-1 col-2" v-model="copy.unit" @change="onChange" :options="[{label: 'HT', value: 'FIXED'}, {label: 'HT/U', value: 'UNIT'}, {label: 'HT/m²', value: 'SURFACE'}]" />
  </div>
</template>

<script>

export default {
  name: 'input-price-range',
  props: {
    value: {}
  },
  data () {
    return {
      copy: this.value instanceof Object ? this.value : {}
    }
  },
  methods: {
    onChange () {
      this.$emit('input', this.copy)
      this.$emit('change')
    }
  },
  watch: {
    value (newVal) {
      this.copy = newVal instanceof Object ? newVal : {}
    }
  }
}
</script>

<style scoped>
</style>
