<template>
  <q-search icon="place" :placeholder="placeholder" :float-label="floatLabel" v-model="input" @change="onChange" :readonly="readonly"
    :disabled="!!input && !value">
    <q-autocomplete @selected="onSelected" @search="onSearch" separator :min-characters="3" />
  </q-search>
</template>

<script>

export default {
  name: 'input-address',
  props: {
    value: {},
    placeholder: { default: '' },
    floatLabel: { default: '' },
    readonly: false
  },
  data () {
    return {
      input: this.formatVal(this.value),
      copy: this.value
    }
  },
  methods: {
    onSearch (terms, done) {
      let params = {
        q: terms,
        type: 'housenumber',
        autocomplete: 0
      }
      this.$http.get('https://api-adresse.data.gouv.fr/search/', { params: params })
        .then(response => {
          let results = fetch(response.body.features)
          done(results)
        })
        .catch(() => {
          done([])
        })
    },
    onSelected (item) {
      this.$emit('input', item.value)
    },
    onChange (terms) {
      if (typeof terms === 'string') {
        if (terms !== this.formatVal(this.copy)) {
          this.copy = null
          this.$emit('input', null)
        }
      } else if (terms instanceof Object) {
        this.copy = terms
        this.input = this.formatVal(this.copy)
        this.$emit('input', this.copy)
      }
      this.$emit('change')
    },
    formatVal (value) {
      if (!value) {
        return ''
      } else {
        return value.address + ', ' + value.zipcode + ' ' + value.city
      }
    }
  },
  watch: {
    value (newVal) {
      if (this.copy !== newVal) {
        this.copy = newVal
        this.input = this.formatVal(this.copy)
      }
    }
  }
}

function fetch (features) {
  return features.map(feature => {
    let departmentNumber = feature.properties.citycode
    if (departmentNumber.substr(0, 2) === '97') {
      departmentNumber = departmentNumber.substr(0, 3)
    } else {
      departmentNumber = departmentNumber.substr(0, 2)
    }
    let value = {
      address: feature.properties.name,
      zipcode: feature.properties.postcode,
      citycode: feature.properties.citycode,
      city: feature.properties.city,
      departmentNumber: departmentNumber,
      longitude: feature.geometry.coordinates[0],
      latitude: feature.geometry.coordinates[1],
      legalX: feature.properties.x,
      legalY: feature.properties.y
    }
    return {
      value: value,
      label: value.address,
      sublabel: value.zipcode + ' ' + value.city
    }
  })
}
</script>

<style scoped>
</style>
