<template>
  <div class="paginator-toolbar row items-center justify-end">
    <span v-if="options" class="label">{{optionLabel}}&nbsp;</span>
    <q-select v-if="options" class="paginator-select" :options="selectOptions()" :value="value.perpage" @input="pushPerpage"
      :disabled="disabled" />
    <div class="paginator-sm paginator-label">{{first()}} - {{last()}} / {{value.total}}</div>
    <div class="row paginator-pagination">
      <q-btn class="paginator-btn paginator-sm" color="primary" small flat dense icon="first_page" :disabled="disabled || !(value.index > 1)"
        @click="goto(1)" />
      <q-btn class="paginator-sm paginator-btn" color="primary" small flat dense icon="keyboard_arrow_left" :disabled="disabled || !(value.index > 1)"
        @click="goto(value.index - 1)" />
      <q-input class="paginator-input" type="text" :placeholder="value.index + '/' + lastPage()" align="center" v-model="pageInput"
        :disabled="disabled || lastPage() <= 1" @keydown.enter="pushPage" @blur="pushPage" />
      <q-btn class="paginator-sm paginator-btn" color="primary" small flat dense icon="keyboard_arrow_right" :disabled="disabled || !(value.index < lastPage())"
        @click="goto(value.index + 1)" />
      <q-btn class="paginator-sm paginator-btn" color="primary" small flat dense icon="last_page" :disabled="disabled || !(value.index < lastPage())"
        @click="goto(lastPage())" />
    </div>
  </div>
</template>

<script>

export default {
  name: 'paginator',
  props: {
    value: {},
    options: { default: false },
    optionLabel: { default: 'Lignes' },
    disabled: { default: false }
  },
  data () {
    return {
      pageInput: ''
    }
  },
  methods: {
    goto (index) {
      if (index >= 1 && index <= this.lastPage()) {
        this.mutate({ index: index })
      }
    },
    pushPerpage (perpage) {
      this.mutate({ perpage: perpage, index: 1 })
    },
    pushPage () {
      let index = parseInt(this.pageInput)
      if (index) {
        this.goto(index)
      }
      this.pageInput = ''
    },
    mutate (values) {
      this.$emit('input', Object.assign({}, this.value, values))
      this.$emit('refresh')
    },
    lastPage () { return this.value.total ? (this.value.total / this.value.perpage).toFixed() : 0 },
    first () { return this.value.index ? (this.value.index - 1) * this.value.perpage + 1 : 0 },
    last () { return this.value.total ? (this.value.index - 1) * this.value.perpage + this.value.count : 0 },
    selectOptions () {
      if (this.options instanceof Array) {
        return this.options.map(opt => { return opt instanceof Object ? opt : { label: opt.toString(), value: opt } })
      } else {
        return Object.keys(this.options).map(key => { return { label: this.options[key], value: key } })
      }
    }
  }
}
</script>

<style scoped>
.paginator-toolbar {
  font-weight: 300;
}

.paginator-sm {
  font-size: 85%;
}

.paginator-btn {
  width: 16px;
  font-size: 16px;
}

.paginator-label {
  margin-left: 30px;
  width: 92px;
}

.paginator-pagination {
  margin-left: 30px;
}

.paginator-input {
  width: 64px;
}

.paginator-select {
  width: 64px;
}
</style>
