<template>
  <div>
    <q-select :float-label="floatLabel" :options="getOptions()" v-model="tracker" @input="push" :readonly="readonly"/>
  </div>
</template>

<script>

export default {
  name: 'select-object',
  props: {
    value: {},
    floatLabel: {},
    options: {},
    format: { default () { return o => { return o.label } } },
    trackBy: { default () { return o => { return o.id } } },
    readonly: false
  },
  data () {
    return {
      tracker: this.value ? this._track(this.value) : null
    }
  },
  methods: {
    getOptions () {
      return Object.values(this.options).map(opt => { return { label: this._format(opt), value: this._track(opt) } })
    },
    push (tracker) {
      if (tracker === null) {
        this.$emit('input', null)
        this.$emit('change')
      } else {
        this.$emit('input', this.map[tracker])
        this.$emit('change')
      }
    },
    _track (opt) {
      if (this.trackBy instanceof Function) {
        return this.trackBy(opt)
      } else {
        return opt[this.trackBy]
      }
    },
    _format (opt) {
      if (this.format instanceof Function) {
        return this.format(opt)
      } else {
        return opt[this.format]
      }
    }
  },
  computed: {
    map () {
      let map = {}
      Object.values(this.options).forEach(opt => {
        let t = this._track(opt)
        map[t] = opt
      })
      return map
    }
  },
  watch: {
    value (newVal) {
      if (newVal == null) {
        this.tracker = null
      } else {
        this.tracker = this._track(newVal)
      }
    }
  }
}
</script>

<style scoped>
</style>
