<template ref="adminHome">
  <q-page padding>
    <div class="row" v-if="$api.granted(['User'])">
      <div v-for="category in list" :key="category.hash" class="col-xs-6 col-sm-4 col-lg-3">
        <div :class="category.color ? category.color : 'text-primary'" class="card text-center category-link" @click="show(category)">
          <q-icon :name="category.icon" />
          <p :class="category.color ? category.color : 'text-primary'">{{category.title}}</p>
        </div>
      </div>
    </div>

    <!-- if you want automatic padding use "layout-padding" class -->
    <div class="row" v-if="displayDashboard">
      <div class="col-12 q-mb-md row">
        <div class="col-xs-12 col-md-6 q-pr-md q-pb-sm">
          <q-datetime
            inverted
            color="primary"
            v-model="selectedMinLeadDate"
            :max="selectedMaxLeadDate"
            @input="onMinDateSelected"
            format="dddd DD MMMM YYYY"
            stack-label="Demandes faites après le"
          />
        </div>
        <div class="col-xs-12 col-md-6 q-pr-md q-pb-sm">
          <q-datetime
            inverted
            color="primary"
            v-model="selectedMaxLeadDate"
            @input="onMaxDateSelected"
            :min="selectedMinLeadDate"
            format="dddd DD MMMM YYYY"
            stack-label="et avant le"
          />
        </div>
      </div>
      <q-alert
        v-if="unassignedLeadsNb > -1"
        class="col-12 q-mb-lg q-pr-md"
        color="negative"
        inverted
      >Nombre de demande(s) non assignée(s) créée(s) il y a plus de {{NB_WEEKS_UNASSIGNED_BEFORE_WARNING}} semaines : {{unassignedLeadsNb}}</q-alert>
      <div class="row justify-center col-sm-12 col-md-6 col-xl-8 q-px-md border-right content-start">
        <h4 class="col-12 text-center q-my-sm">Déploiement</h4>
        <h6 class="col-12 text-center q-my-sm">Histogramme des demandes</h6>
        <lead-histogram class="col-12 q-py-sm" :dashboard-data="dashboardData"></lead-histogram>
        <div class="col-12 q-my-sm q-mb-xl">
          <h6 class="col-12 text-center q-my-sm">Carte des demandes</h6>
          <lead-map height="600px" :leads="dashboardData" :currentUser="currentUser" blockModal hideControls showLegend></lead-map>
        </div>
        <div class="col-12 q-my-sm q-mt-md">
          <h6 class="col-12 text-center q-my-sm">Top auditeurs</h6>
          <auditor-leader-board :leads="dashboardData"></auditor-leader-board>
        </div>
      </div>
      <div class="row justify-center col-sm-12 col-md-6 col-xl-4 q-px-md content-start">
        <h4 class="col-12 text-center q-my-sm">Technique</h4>
        <div class="row col-12 q-px-sm">
          <h6 class="col-12 text-center q-my-sm">Nombre de lots en première étape</h6>
          <passport-improvements-histogram class="col-12 q-py-sm" :dashboard-data="dashboardData"></passport-improvements-histogram>
        </div>
        <div class="row col-12 q-px-sm">
          <h6 class="col-12 text-center q-my-sm">Répartition des lots en première étape</h6>
          <passport-selected-improvements-histogram class="col-12 q-py-sm" height="300px" :dashboard-data="dashboardData"></passport-selected-improvements-histogram>
        </div>
        <div class="row col-12 q-px-sm">
          <h6 class="col-12 text-center q-my-sm">Répartition des combinatoires</h6>
          <combinatory-choices-doughnut-chart class="col-12 q-py-sm" :dashboard-data="dashboardData"></combinatory-choices-doughnut-chart>
        </div>
      </div>
    </div>
    <div v-else style="max-width: 90vw;" class="row col-9">
      <div v-for="category in list" :key="category.hash" class="col-xs-6 col-sm-4 col-lg-3">
        <div :class="category.color ? category.color : 'text-primary'" class="card text-center category-link" @click="show(category)">
          <q-icon :name="category.icon" />
          <p :class="category.color ? category.color : 'text-primary'">{{category.title}}</p>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import LeadHistogram from '../dashboard/LeadCreationHistogramByDate.vue'
import PassportImprovementsHistogram from '../dashboard/PassportImprovementsHistogram.vue'
import PassportSelectedImprovementsHistogram from '../dashboard/PassportSelectedImprovementsHistogram.vue'
import CombinatoryChoicesDoughnutChart from '../dashboard/CombinatoryChoicesDoughnutChart.vue'
import AuditorLeaderBoard from '../dashboard/AuditorLeaderBoard.vue'
import LeadMap from '../maps/LeadMapForDashboard.vue'

export default {
  components: {
    CombinatoryChoicesDoughnutChart,
    LeadHistogram,
    LeadMap,
    PassportImprovementsHistogram,
    AuditorLeaderBoard,
    PassportSelectedImprovementsHistogram
  },
  data () {
    return {
      NB_WEEKS_UNASSIGNED_BEFORE_WARNING: 2,
      currentUser: undefined,
      dashboardData: [],
      datacollection: {},
      selectedMinLeadDate: this.minLeadDate,
      selectedMaxLeadDate: this.maxLeadDate
    }
  },
  computed: {
    displayDashboard () {
      return this.$api.granted(['Admin', 'Admin territory', 'User territory'])
    },
    minLeadDate () {
      return this.dashboardData.length ? new Date(this.dashboardData.reduce(function (a, b) { return a.creationDate < b.creationDate ? a : b }).creationDate) : undefined
    },
    maxLeadDate () {
      return this.dashboardData.length ? new Date(this.dashboardData.reduce(function (a, b) { return a.creationDate > b.creationDate ? a : b }).creationDate) : undefined
    },
    unassignedLeadsNb () {
      return this.dashboardData.reduce((acc, currentLead) => {
        let age = ((new Date()).getTime() - (new Date(currentLead.creationDate)).getTime()) / (1000 * 3600 * 24 * 7) // Age in weeks
        return currentLead.auditor == null && age >= this.NB_WEEKS_UNASSIGNED_BEFORE_WARNING ? acc + 1 : acc
      }, 0)
    },
    list () {
      return [
        {
          icon: 'person_outline',
          title: 'Gérer mon profil',
          color: 'text-positive',
          href: '/admin/profile'
        },
        {
          icon: 'supervisor_account',
          title: 'Gestion des Utilisateurs',
          color: 'text-positive',
          href: '/admin/users',
          profiles: ['Admin', 'Auditor', 'Admin territory', 'User territory']
        },
        {
          icon: 'person_add',
          title: 'Ajouter un utilisateur',
          color: 'text-positive',
          href: '/admin/user',
          profiles: ['Admin', 'Auditor', 'Admin territory', 'User territory']
        },
        {
          icon: 'contact_mail',
          title: "Créer une demande d'audit",
          color: 'text-positive',
          href: '/admin/lead',
          profiles: ['User']
        },
        {
          icon: 'contact_mail',
          title: "Demandes d'audit",
          color: 'text-positive',
          href: '/admin/leads',
          profiles: ['Admin', 'Auditor', 'Admin territory', 'User territory']
        },
        {
          icon: 'euro_symbol',
          title: 'Base des prix',
          color: 'text-positive',
          href: '/admin/prices',
          profiles: ['Admin']
        },
        {
          icon: 'settings',
          title: 'Liste des combinatoires',
          color: 'text-positive',
          href: '/admin/combinatories',
          profiles: ['Admin']
        },
        {
          icon: 'home',
          title: 'Passeports',
          color: 'text-positive',
          href: '/admin/passports'
        },
        {
          icon: 'insert_chart',
          title: 'Feuille de route de rénovation',
          color: 'text-positive',
          href: '/admin/plans'
        },
        {
          icon: 'terrain',
          title: 'Gérer les territoires',
          color: 'text-positive',
          href: '/admin/territories',
          profiles: ['Admin', 'Admin territory']
        }
      ].filter(cat => {
        if (!cat.profiles) {
          return true
        }
        if (!this.$api.logged()) {
          return false
        }
        for (let i = 0; i < cat.profiles.length; i++) {
          if (this.$api.logged().profiles.includes(cat.profiles[i])) {
            return true
          }
        }
        return false
      })
    }
  },
  methods: {
    show (category) {
      this.$router.push(category.href)
    },
    computeLeadDateBounds () {
      this.selectedMinLeadDate = this.minLeadDate
      this.selectedMaxLeadDate = this.maxLeadDate
    },
    onMinDateSelected (date) {
      this.refreshData()
    },
    onMaxDateSelected (date) {
      this.refreshData()
    },
    getDateString (stringDate, separator = '-') {
      let date = new Date(stringDate)
      return date.getFullYear() + separator +
             ('0' + (date.getMonth() + 1)).slice(-2) + separator +
             ('0' + date.getDate()).slice(-2)
    },
    refreshData (refreshDates = false) {
      let params = {}
      if (this.selectedMinLeadDate) {
        params.after = this.getDateString(this.selectedMinLeadDate)
      }
      if (this.selectedMaxLeadDate) {
        params.before = this.getDateString(this.selectedMaxLeadDate)
      }
      this.$api.fetchDashboardData(params).then(data => {
        this.dashboardData = data
        if (refreshDates) {
          this.computeLeadDateBounds()
        }
      })
    }
  },
  created () {
    this.$api.get('my/profile').then(response => {
      this.currentUser = response.body
    })
    this.refreshData(true)
  }
}
</script>

<style lang="stylus">
@import '~variables';

.border-right {
  border-right: 1px solid $primary;
}

.small {
  max-width: 600px;
  margin: 150px auto;
}

.hide-overflow {
  overflow-y: hidden;
}

.card {
  cursor: pointer;
  position: relative;
  padding: 16px;

  .q-icon {
    font-size: 56px;
  }

  p {
    color: rgba(0, 0, 0, 0.87);
    margin: 15px 0 0 0 !important;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 0.2s;
    background: currentColor;
  }

  &:hover:before {
    opacity: 0.2;
    background: $tertiary;
  }
}
</style>
