<template>
  <div class="layout-padding">
    <q-table
      :selected-rows-label="selectedRowsLabel"
      :pagination-label="paginationLabel"
      rows-per-page-label="Résultats par pages"
      no-data-label="Aucun point de vigilance"
      no-results-label="Aucun résultat"
      :data="vigilancePoints"
      :columns="columns"
      row-key="id"
      @request="refresh"
      :filter="filter"
      :pagination.sync="pagination"
      :loading="loading"
      :visible-columns="visibleColumns"
    >
      <template slot="top-left" slot-scope="{}">
        <q-search data-cy="vigilancePoint-search" placeholder="Rechercher" v-model="filter" float-label="Chercher un point de vigilance" />
      </template>

      <q-td slot="body-cell-creationDate" slot-scope="props">{{props.row.creationDate | moment('DD/MM/YY à HH:mm')}}</q-td>

      <q-td slot="body-cell-modificationDate" slot-scope="props">{{props.row.modificationDate | moment('DD/MM/YY à HH:mm')}}</q-td>

      <!-- Custom renderer for "action" column with button for custom action -->
      <q-td :data-cy="`vigilancesPoints-vigilancesPoint-id-${props.row.id}`" slot="body-cell-action" slot-scope="props">
        <div class="row justify-end">
          <q-btn
            :data-cy="`vigilancesPoints-edit-id-${props.row.id}`"
            round
            color="primary"
            small
            icon="edit"
            @click="$router.push('/admin/vigilancePoint?vigilancePoint=' + props.row.id)"
          >
            <q-tooltip>Editer</q-tooltip>
          </q-btn>
          <q-btn
            :data-cy="`vigilancesPoints-delete-id-${props.row.id}`"
            round
            color="negative"
            class="q-ml-xs"
            small
            icon="delete"
            @click="deleteVP(props.row)"
          >
            <q-tooltip>Supprimer</q-tooltip>
          </q-btn>
        </div>
      </q-td>
    </q-table>
    <q-btn class="q-mt-sm" data-cy="vigilancesPoints-create" color="primary" @click="$router.push('/admin/vigilancePoint')">Nouveau Point de Vigilance</q-btn>
  </div>
</template>

<script>
export default {
  data () {
    return {
      vigilancePoints: [],
      columns: [
        {
          label: 'Titre',
          format: val => val ? this.cleanTitle(val) : null,
          name: 'title',
          field: 'title',
          style: 'width:160px',
          align: 'left'
        },
        {
          label: 'Complexité',
          name: 'complexity',
          field: 'complexity',
          style: 'width:80px',
          sortable: true,
          align: 'left'
        },
        {
          label: 'Priorité',
          name: 'priority',
          field: 'priority',
          style: 'width:80px',
          sortable: true,
          align: 'left'
        },
        {
          label: 'Action',
          name: 'action',
          field: 'action',
          style: 'width:150px',
          align: 'right'
        }
      ],
      filter: '',
      visibleColumns: ['title', 'complexity', 'priority', 'action'],
      pagination: {
        page: 1,
        rowsPerPage: 20
      },
      loading: false
    }
  },
  methods: {
    selectedRowsLabel (rowsNumber) {
      if (rowsNumber === 1) {
        return rowsNumber + ' ligne sélectionnée'
      } else if (rowsNumber > 1) {
        return rowsNumber + ' lignes sélectionnées'
      } else {
        return ''
      }
    },
    paginationLabel (start, end, total) {
      return 'Résultats ' + start + ' à ' + end + ' sur ' + total
    },
    cleanTitle (title) {
      return title.replace(/<[^>]*>/g, '')
    },
    refresh () {
      this.loading = true
      this.$api.vigilancePoints.find({
        params: {
          perpage: 10000
        }
      })
        .then(data => {
          this.vigilancePoints = data.vigilancePoints
        })
        .catch(response => {
          if (response.code === 403) {
            // TODO: Oops, you've been disconnected => href="/login"
          }
        })
        .finally(() => {
          this.loading = false
        })
    },
    deleteVP (vigilancePoint) {
      this.$q.dialog({
        title: 'Confirmation',
        message: 'Ceci va supprimer le point de vigilance "' + this.cleanTitle(vigilancePoint.title) + '". Cette action est définitive, êtes vous certain de vouloir continuer ?',
        ok: {
          label: 'Supprimer le point de vigilance'
        },
        cancel: 'Annuler',
        position: 'top'
      }).then(() => {
        this.$api.vigilancePoints.delete(vigilancePoint.id).then(response => {
          this.refresh()
          this.$notifier.ok('Le point de vigilance "' + this.cleanTitle(vigilancePoint.title) + '" a été supprimé.')
        }).catch(_error => {
          this.$notifier.ko('Erreur : le point de vigilance "' + this.cleanTitle(vigilancePoint.title) + '" n\'a pas pu être supprimé. Un point de vigilance ne peut pas être supprimé si il a déjà été déclenché dans un plan de rénovation.', 7000)
        })
      }).catch(() => {})
    }
  },
  beforeMount () {
    this.refresh()
  }
}
</script>

<style>
</style>
