<template>
  <!-- Configure "view" prop for QLayout -->
  <q-layout ref="connected-layout" view="hHh LpR fFf">
    <q-layout-header>
      <q-toolbar color="white">
        <title-content />

        <q-btn
          flat
          icon="account_circle"
          color="primary"
          @click="$router.push('/admin/profile')"
        >{{ $api.connection.user && $api.connection.user.username }}</q-btn>
        <q-btn flat color="primary" @click="$api.logout(); $router.push('/login')">
          <q-icon name="lock_open" />
        </q-btn>
      </q-toolbar>

      <!-- Navigation Tabs -->
      <q-tabs>
        <q-route-tab slot="title" icon="dashboard" to="/admin" exact hide="icon" label="Accueil" />
        <q-route-tab slot="title" icon="account_circle" to="/admin/profile" exact hide="icon" label="Mon profil" />
        <q-route-tab v-if="$api.granted(['Admin','Auditor','Admin territory', 'User territory'])"
          slot="title"
          icon="supervisor_account"
          to="/admin/users"
          exact
          hide="icon"
          label="Utilisateurs"
        />
        <q-route-tab
          v-if="$api.granted(['Admin','Auditor','Admin territory', 'User territory'])"
          slot="title"
          icon="contact_mail"
          to="/admin/leads"
          exact
          hide="icon"
          label="Demandes d'audit"
        />
        <q-route-tab
          v-if="$api.granted(['Admin','Auditor','Admin territory', 'User territory'])"
          slot="title"
          icon="home"
          to="/admin/passports"
          exact
          hide="icon"
          label="Passeports"
        />
        <q-route-tab
          v-if="$api.granted(['Admin','Auditor','Admin territory', 'User territory'])"
          slot="title"
          icon="insert_chart"
          to="/admin/plans"
          exact
          hide="icon"
          label="Feuille de route de rénovation"
        />
        <q-route-tab
          v-if="$api.granted(['Admin','Admin territory'])"
          slot="title"
          icon="terrain"
          to="/admin/territories"
          exact
          hide="icon"
          label="Territoires"
        />
        <q-route-tab
          v-if="$api.granted(['Admin'])"
          slot="title"
          icon="remove_red_eye"
          to="/admin/vigilancePoints"
          exact
          hide="icon"
          label="Points de Vigilance"
        />
        <q-route-tab
          v-if="$api.granted(['Admin', 'Auditor', 'Admin territory', 'User territory'])"
          slot="title"
          icon="euro_symbol"
          to="/admin/prices"
          exact
          hide="icon"
          label="Base prix"
        />
        <q-route-tab
          v-if="$api.granted(['Admin', 'Auditor', 'Admin territory', 'User territory'])"
          slot="title"
          icon="settings"
          to="/admin/combinatories"
          exact
          hide="icon"
          label="Combinatoires"
        />
      </q-tabs>
    </q-layout-header>

    <!-- Connection modal -->
    <q-modal v-model="disconnected" no-backdrop-dismiss no-esc-dismiss>
      <div class="flex justify-center full-height">
        <q-card class="text-center col-xs-auto col-sm-12 col-md-12" id="login">
          <q-card-title>
            <img src="/statics/logo-passeport-efficacite-energetique_2.png" class="small-logo responsive" />
            <h5 class="text-negative">Oups... Il semblerait que vous soyiez déconnecté</h5>
            <span slot="subtitle">Reconnectez vous pour continuer à utiliser l'application</span>
          </q-card-title>
          <q-card-separator />
          <q-card-main class="bg-white row">
            <q-field class="offset-1 col-10" :error="!!connection.errors.get('username')" :error-label="connection.errors.get('username')">
              <q-input
                name="username"
                type="email"
                v-model="connection.form.username"
                float-label="Adresse email"
                @change="connection.errors.unset('username')"
                @keydown.enter.prevent="reconnect()"
              />
            </q-field>
            <q-field class="offset-1 col-10" :error="!!connection.errors.get('password')" :error-label="connection.errors.get('password')">
              <q-input
                name="password"
                type="password"
                v-model="connection.form.password"
                float-label="Mot de passe"
                @change="connection.errors.unset('password')"
                @keydown.enter.prevent="reconnect()"
              />
            </q-field>
            <q-field class="offset-1 col-10" :error="!!connection.errors.get('form')" :error-label="connection.errors.get('form')" />
          </q-card-main>
          <q-card-actions vertical>
            <q-btn class="fit" color="positive" @click="reconnect()">Connexion</q-btn>
            <q-btn flat class="fit" color="primary">Mot de passe oublié?</q-btn>
          </q-card-actions>
        </q-card>
      </div>
    </q-modal>

    <q-page-container>
      <router-view />
    </q-page-container>

    <q-layout-footer>
      <custom-footer />
    </q-layout-footer>
  </q-layout>
</template>

<script>
import customFooter from './helpers/Footer.vue'
import titleContent from './helpers/TitleContent.vue'
import RecursiveArray from '../../utils/RecursiveArray'

export default {
  components: {
    titleContent,
    customFooter
  },
  data () {
    return {
      disconnected: !this.$api.logged(),
      connection: {
        form: {},
        errors: new RecursiveArray()
      }
    }
  },
  methods: {
    reconnect () {
      this.$api.authenticate(this.connection.form.username, this.connection.form.password)
        .then(() => {
          this.disconnected = false
          this.connection.errors.reset()
        })
        .catch(data => {
          this.connection.errors.update(data.errors)
        })
    }
  },
  beforeMount () {
    // Detect disconnection whenever server responds with a Unauthorized response.
    this.$api.on(401, response => {
      this.disconnected = true
    })

    if (this.$api.logged()) {
      // TODO: depending on `this.$api.connection.remaining`, refresh token
    }
  }
}
</script>

<style scoped>
</style>
