<template>
  <q-layout view="hHh LpR fFf">
    <q-layout-header>
      <q-toolbar>
        <title-content />
      </q-toolbar>
    </q-layout-header>

    <div class="layout-padding row justify-center">
      <div class="q-mt-md row justify-center col-10 items-start">
        <div class="row col-12 col-md-12 col-xs-12 justify-center group">

          <q-field class="offset-sm-1 col-sm-5 col-xs-10" :error="!!errors.get('username')" :error-label="errors.get('username')">
            <q-input type="email" v-model="account.username" float-label="Adresse email" @change="errors.unset('username')" />
          </q-field>
          <q-field class="offset-sm-1 col-sm-5 col-xs-10" :error="emailCheck !== account.username">
            <q-input type="email" v-model="emailCheck" float-label="Répéter l'adresse email" />
          </q-field>

          <div class="col-11 no-wrap row justify-around">
            <q-btn color="primary" @click="proceed" :disabled="emailCheck !== account.username">
              Réinitialiser mon mot de passe
            </q-btn>
          </div>
        </div>
      </div>
    </div>

    <q-layout-footer>
      <custom-footer />
    </q-layout-footer>
  </q-layout>
</template>

<script>
import customFooter from '../layouts/helpers/Footer.vue'
import titleContent from '../layouts/helpers/TitleContent.vue'
import RecursiveArray from '../../utils/RecursiveArray'

export default {
  components: {
    customFooter,
    titleContent
  },
  data () {
    return {
      account: {
        username: ''
      },
      emailCheck: '',
      errors: new RecursiveArray()
    }
  },
  methods: {
    proceed () {
      this.$api.post('account/recover', Object.assign({}, this.account, { recoveryUrl: this.$rootUrl + '/account/reset-password?token={token}' }))
        .then(() => {
          this.errors.reset()
          this.$router.replace('/account/recover/ok')
        })
        .catch(response => {
          this.errors.update(response.body.errors)
        })
    }
  }
}
</script>

<style scoped>
.main {
  padding-top: 64px;
}
</style>
