<template>
  <q-layout view="hHh LpR fFf">
    <q-layout-header>
      <q-toolbar color="white">
        <title-content />
      </q-toolbar>
    </q-layout-header>

    <div class="layout-padding row justify-center">
      <div class="row justify-center col-10 items-start">
        <div class="row col-12 justify-center group">

          <q-field class="q-mt-lg col-sm-5 col-xs-10" :error="!!errors.get('firstname')" :error-label="errors.get('firstname')">
            <q-input data-cy="register-firstname" type="text" v-model="user.firstname" float-label="Prénom" @change="errors.unset('firstname')" />
          </q-field>
          <q-field class="q-mt-lg col-sm-5 col-xs-10" :error="!!errors.get('lastname')" :error-label="errors.get('lastname')">
            <q-input data-cy="register-lastname" type="text" v-model="user.lastname" float-label="Nom" @change="errors.unset('lastname')" />
          </q-field>

          <q-field class="col-sm-5 col-xs-10" :error="!!errors.get('email')" :error-label="errors.get('email')">
            <q-input data-cy="register-email" type="email" v-model="user.email" float-label="Adresse email" @change="errors.unset('email')" />
          </q-field>
          <q-field class="col-sm-5 col-xs-10" :error="!!errors.get('phone')" :error-label="errors.get('phone')">
            <q-input data-cy="register-phone" type="email" v-model="user.phone" float-label="Téléphone" @change="errors.unset('phone')" />
          </q-field>

          <q-field class="col-sm-5 col-xs-10" :error="!!errors.get('password')" :error-label="errors.get('password')">
            <q-input data-cy="register-password" type="password" v-model="user.password" float-label="Mot de passe" @change="errors.unset('password')" />
          </q-field>
          <q-field class="col-sm-5 col-xs-10" :error="password.entry !== user.password">
            <q-input data-cy="register-passwordConfirm" type="password" v-model="password.entry" float-label="Répéter le mot de passe" />
          </q-field>

          <div class="col-11 no-wrap row justify-around">
            <q-btn data-cy="register-submit" color="primary" @click="proceed" :disabled="password.entry !== user.password">
              Créer mon compte
            </q-btn>
          </div>
        </div>
      </div>
    </div>

    <q-layout-footer>
      <custom-footer />
    </q-layout-footer>
  </q-layout>
</template>

<script>
import customFooter from '../layouts/helpers/Footer.vue'
import titleContent from '../layouts/helpers/TitleContent.vue'
import RecursiveArray from '../../utils/RecursiveArray'

export default {
  components: {
    customFooter,
    titleContent
  },
  data () {
    return {
      user: {
        firstname: '',
        lastname: '',
        password: '',
        email: ''
      },
      password: {
        entry: '',
        error: ''
      },
      errors: new RecursiveArray()
    }
  },
  methods: {
    proceed () {
      this.$api.post('account/create', Object.assign({}, this.user, { activationUrl: this.$rootUrl + '/account/activate?token={token}' }))
        .then(() => {
          this.errors.reset()
          this.$router.push('/account/welcome')
          // TODO: push static page 'you have received an email, etc.'
        })
        .catch(response => {
          this.errors.update(response.body.errors)
        })
    }
  }
}
</script>

<style scoped>
</style>
