<template>
  <q-layout view="hHh LpR fFf">
    <q-layout-header>
      <q-toolbar>
        <title-content />
      </q-toolbar>
    </q-layout-header>

    <div class="flex justify-center full-height main">
      <div class="row col-12 col-md-12 col-xs-12 justify-center q-mt-md" v-if="status == null">
        <q-field class="offset-sm-1 col-sm-5 col-xs-10" :error="!!errors.get('password')" :error-label="errors.get('password')">
          <q-input type="password" v-model="password" float-label="Mot de passe" @change="errors.unset('password')" />
        </q-field>
        <q-field class="offset-sm-1 col-sm-5 col-xs-10" :error="!!password && password !== passwordCheck">
          <q-input type="password" v-model="passwordCheck" float-label="Répéter le mot de passe" />
        </q-field>
        <q-btn class="q-mt-md" color="primary" @click="activate" :disabled="password !== passwordCheck">
          Modifier mon mot de passe
        </q-btn>
      </div>

      <div v-if="status !== null">
        <q-alert v-if="status === 200" class="col-xs-auto col-sm-6 col-md-6" color="primary" icon="check_circle">
          Votre compte a bien été activé.<br /> Pour vous connecter,
          <a @click="$router.push('/login')">cliquez ici</a>.
        </q-alert>
        <q-alert v-if="status === 400" class="col-xs-auto col-sm-6 col-md-6" color="warning" icon="priority_high">
          Votre compte a déjà été activé.<br /> Pour vous connecter,
          <a @click="$router.push('/login')">cliquez ici</a>.
        </q-alert>
        <q-alert v-if="status === 404" class="col-xs-auto col-sm-6 col-md-6" color="red" icon="warning">
          Ce lien n'existe pas.
        </q-alert>
        <q-alert v-if="![200, 400, 404, 422].includes(status)" class="col-xs-auto col-sm-6 col-md-6" color="red" icon="warning">
          Une erreur est survenue.<br /> Essayer de rafraîchir la page dans quelques instants.
        </q-alert>
      </div>
    </div>

    <q-layout-footer>
      <custom-footer />
    </q-layout-footer>
  </q-layout>
</template>

<script>
import customFooter from '../layouts/helpers/Footer.vue'
import titleContent from '../layouts/helpers/TitleContent'
import RecursiveArray from '../../utils/RecursiveArray'

export default {
  components: {
    customFooter,
    titleContent
  },
  data () {
    return {
      status: null,
      password: '',
      passwordCheck: '',
      errors: new RecursiveArray()
    }
  },
  methods: {
    activate () {
      let query = this.$route.query
      if (query.token) {
        this.$api.post('account/reset-password/' + query.token, { password: this.password })
          .then(() => {
            this.status = 200
          })
          .catch(response => {
            if (response.status === 422) {
              this.errors.update(response.body.errors)
            } else {
              this.status = response.status
            }
          })
      } else {
        this.status = 404
      }
    }
  },
  beforeMount () {
    if (!this.$route.query.token) {
      this.status = 404
    }
  }
}
</script>

<style>
@import "~leaflet/dist/leaflet.css";
</style>

<style scoped>
.main {
  padding-top: 64px;
}
</style>
