<template>
  <q-layout view="hHh LpR fFf">
    <q-layout-header>
      <q-toolbar color="white">
        <title-content></title-content>
      </q-toolbar>
    </q-layout-header>

    <q-layout-footer>
      <custom-footer />
    </q-layout-footer>

  </q-layout>
</template>

<script>
import customFooter from '../layouts/helpers/Footer.vue'
import titleContent from '../layouts/helpers/TitleContent.vue'

export default {
  components: {
    titleContent,
    customFooter
  },
  data () {
    return {}
  },
  beforeMount () {
    if (this.$api.logged()) {
      this.$api.refresh()
        .then(() => {
          this.$router.replace('/admin')
        })
        .catch(() => {
          this.$router.replace('/login')
        })
    } else {
      this.$router.replace('/login')
    }
  }
}
</script>

<style scoped lang="styl">
img.small-logo {
  padding-top: 20px;
}
.q-card-actions .q-btn {
  margin-top: 5px;
  margin-bottom: 5px;
}
</style>
