<template>
  <div>
    <div class="row justify-center">
      <q-btn-group class="text-center">
        <q-btn size="sm" color="tertiary" label="Jours" @click="handleChartGranularity('daily')" />
        <q-btn size="sm" color="tertiary" label="Semaines" @click="handleChartGranularity('weekly')" />
        <q-btn size="sm" color="tertiary" label="Mois" @click="handleChartGranularity('monthly')" />
      </q-btn-group>
    </div>
    <stacked-bar-chart :options="chartOptions" :styles="barStyle" :chart-data="leadCreationHistogramData"></stacked-bar-chart>
  </div>
</template>

<script>
import StackedBarChart from './GenericStackedBarChart.js'
import DoughnutChart from './GenericDoughnutChart.js'
import moment from 'moment'
import {dateFromTimestamp, dateWithoutTime, addDays, addWeeks, addMonths} from './chart-utils'

moment.locale('fr-FR')

export default {
  components: {
    StackedBarChart,
    DoughnutChart
  },
  props: {
    dashboardData: {
      type: Array,
      default: null
    },
    height: {
      type: String,
      default: '250px'
    }
  },
  data () {
    return {
      granularity: 'weekly',
      chartOptions: {
        plugins: {
          datalabels: {
            display: false
          }
        },
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          xAxes: [{
            maxBarThickness: 50,
            stacked: true
          }],
          yAxes: [{
            stacked: true
          }]
        }
      }
    }
  },
  computed: {
    barStyle () {
      return {
        height: this.height,
        position: 'relative'
      }
    },
    minLeadDate () {
      return this.dashboardData.length ? new Date(this.dashboardData.reduce(function (a, b) { return a.creationDate < b.creationDate ? a : b }).creationDate) : undefined
    },
    maxLeadDate () {
      return this.dashboardData.length ? new Date(this.dashboardData.reduce(function (a, b) { return a.creationDate > b.creationDate ? a : b }).creationDate) : undefined
    },
    timeScale () {
      if (this.dashboardData.length) {
        let dateList = {}
        let currentDate = this.minLeadDate
        switch (this.granularity) {
          case 'monthly': {
            currentDate = new Date(currentDate.getFullYear(), currentDate.getMonth(), 1)
            while (currentDate <= this.maxLeadDate) {
              dateList[this.getMonthKey(currentDate)] = {
                noPassport: 0,
                passports: 0,
                plans: 0,
                label: moment(currentDate).format('MMMM YYYY')
              }
              currentDate = addMonths(currentDate, 1)
            }
            break
          }
          case 'weekly': {
            currentDate = new Date(currentDate.getFullYear(), currentDate.getMonth(), currentDate.getDate() - currentDate.getDay() + 1)
            while (currentDate <= this.maxLeadDate) {
              let currentMoment = moment(currentDate)
              dateList[this.getWeekKey(currentDate)] = {
                noPassport: 0,
                passports: 0,
                plans: 0,
                label: `Semaine ${currentMoment.week()} ${currentMoment.year()}`
              }
              currentDate = addWeeks(currentDate, 1)
            }
            break
          }
          case 'daily':
          default: {
            currentDate = new Date(currentDate.getFullYear(), currentDate.getMonth(), currentDate.getDate())
            while (currentDate <= this.maxLeadDate) {
              dateList[this.getDayKey(currentDate)] = {
                noPassport: 0,
                passports: 0,
                plans: 0,
                label: dateFromTimestamp(dateWithoutTime(currentDate))
              }
              currentDate = addDays(currentDate, 1)
            }
            break
          }
        }
        return dateList
      } else {
        return null
      }
    },
    leadCreationHistogramData () {
      if (this.dashboardData.length) {
        let dateList = this.timeScale
        this.dashboardData.forEach(lead => {
          let key = ''
          switch (this.granularity) {
            case 'monthly': {
              key = this.getMonthKey(lead.creationDate)
              break
            }
            case 'weekly': {
              key = this.getWeekKey(lead.creationDate)
              break
            }
            case 'daily':
            default: {
              key = this.getDayKey(lead.creationDate)
              break
            }
          }

          if (lead.passport !== null && lead.passport.renovationPlans.length > 0 &&
        lead.passport.renovationPlans.some(rp => {
          return !!rp.sendDate
        })) {
            dateList[key].plans += 1
          } else if (lead.passport !== null) {
            dateList[key].passports += 1
          } else {
            dateList[key].noPassport += 1
          }
        })
        return {
          labels: Object.keys(dateList).map((data) => {
            return dateList[data].label
          }),
          datasets: [
            {
              label: 'Sans passeport',
              backgroundColor: '#2D85CB',
              data: Object.values(dateList).map(dateSet => dateSet.noPassport)
            },
            {
              label: 'Avec passeport',
              backgroundColor: '#F59951',
              data: Object.values(dateList).map(dateSet => dateSet.passports)
            },
            {
              label: 'Synthèse envoyée',
              backgroundColor: '#CD3736',
              data: Object.values(dateList).map(dateSet => dateSet.plans)
            }
          ]
        }
      } else {
        return {}
      }
    }
  },
  methods: {
    getMonthKey (date) {
      let momentDate = moment(date)
      return momentDate.format('YYYY-MM')
    },
    getWeekKey (date) {
      let momentDate = moment(date)
      return `${momentDate.year()}-${momentDate.week()}`
    },
    getDayKey (date) {
      return dateWithoutTime(date)
    },
    handleChartGranularity (granularity) {
      this.granularity = granularity
    }
  }
}
</script>

<style lang="stylus"></style>
